# Network Configuration
# The name of the network (e.g., arbitrum-sepolia, arbitrum)
NETWORK_NAME=arbitrum-sepolia

# Self-hosted Graph Node Configuration
# The URL of the Graph Node endpoint for self-hosted Graph Node
GRAPHNODE_URL=https://api.studio.thegraph.com/deploy/

# The URL of the IPFS endpoint for self-hosted IPFS
IPFS_URL=https://api.studio.thegraph.com/ipfs/api/v0

# Deployment Environment
# The deployment environment name (e.g., staging, prod)
DEPLOY_ENV=dev

# Version Label
# The version label for the deployment (e.g., v1.0.0, dev, staging)
VERSION_LABEL=dev

# The Graph Studio Configuration
# The slug for the subgraph created on The Graph Network
SUBGRAPH_SLUG=nox-protocol-indexer

# The deploy key for The Graph Network deployment
SUBGRAPH_DEPLOY_KEY=

# The network name for The Graph Network deployment (e.g., arbitrum-sepolia, arbitrum)
SUBGRAPH_NETWORK_NAME=arbitrum-sepolia

# Start block number for local testing
START_BLOCK=234946800
